body {
  background-image: url('https://images.unsplash.com/photo-1550439062-609e1531270e?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
}



.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.home-content {
  text-align: center;
  color: white;
}

h1, h2 {
  margin: 0;
}

.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 30px;
}
